/*home start*/
#index-container{
	background-color: #F0F0F0;
	width: 100%;
}
.content{
	width: 80%;
	margin: 50px auto;
	text-align: center;
}
h2{
  font-size: 45px;
  letter-spacing: 2px;
  font-family: Microsoft JhengHei !important;
  color: #333;
  margin: 0px auto;
  letter-spacing: 2px;
}

.intro{
	margin-bottom: 0px;
  font-family: Microsoft JhengHei !important;
  font-size: 22px;
  font-style: italic;
}
.bg_intro img{
  margin-top: 20px;
} 
.bg_intro p{
  font-size: 22px;
  line-height: 35px;
  font-family: Microsoft JhengHei !important;
  font-weight: bold;
}
.bg_intro .btn{
  background-color: #000000;
  border-color: #000000;
  margin: 50px auto 50px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 14px;
}
.hr_l{
  max-width: 300px;
}
.new{
  width: 450px;
  height: 540px;
  margin: 100px auto ;
}
.new_inner{
  width: 85%;
  height: 200px;
  margin: 0 auto;
}
.new p{
  font-size: 18px;
  line-height: 35px;
  font-family: Microsoft JhengHei !important;
  margin-left: 0;
  color: #000000;
  float: left;
}
.plurk{
  margin: 100px auto !important;
}
.plurk h3{
  margin-top: 50px;
}
#index-container{
  background-image: url(../images/blood.png) !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  margin-top: -2px;
  background-attachment: fixed;
  background-position:left top;
}
.en{
  font-family: Microsoft JhengHei !important;
}
/*home end*/


/*all start*/
p, h1, h2, h3, h4, h5, h6, button{
  font-family: Microsoft JhengHei !important;
}
#container{
  background-color: #F0F0F0;
  width: 100%;
  background-image: url(../images/blood2.png) !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  margin-top: -2px;
  background-attachment: fixed;
  background-position:left top;
  position: absolute;
  top: 50px;
  
}
@media only screen and (max-width: 1000px) {
  #container{
    background-image: url(../images/blood2_phone.png) !important;
    background-repeat: repeat !important;
  }
}
h2.title{
  text-align: center;
  padding-top: 50px;
}
@media screen and ( max-width: 782px ) {
  #container{
    position: relative;
    top: none;
  }
} 
/*all end*/


/*admission_precess start*/
.timeline .timeline-heading h4.subheading {
  padding: 0;
}
.timeline-heading h4{
  margin: 5px;
}
.timeline-body p, .timeline-body ul{
  font-size: 18px;
}
.start{
  width: 130px;
  margin: 15px auto;
  border-radius: 0 !important;
}
.timeline>li .timeline-image h4 {
    margin-top: -140px !important;
}    
.timeline>li .start_circle {
    border: 6px solid #CE0000 !important;
    color: #fff !important;
    background-color: #000 !important;
}
.subheading{
  color: #CE0000 !important;
  font-weight: bold;
  font-size: 28px;
}
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  z-index: 0;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  background-color: #6ECADC;
}
.timeline>li {
  position: relative;
  margin-bottom: 50px;
  min-height: 50px;
}
.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}
.timeline>li:after {
  clear: both;
}
.timeline>li .timeline-panel {
  float: right;
  position: relative;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline>li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  border: 6px solid #6ECADC;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  background-color: #6ECADC;
}
.timeline>li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}
.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline>li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body>p,
.timeline .timeline-body>ul {
  margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        /*text-align: right; 改*/
    }
    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}
@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}
@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}
/*admission_precess end*/


/*about start*/
.about_sec1{
  width: 50%;
  margin: 50px auto 50px;
  background-color: rgba(0,0,0,0.05);
  padding: 30px 20px 10px;
  border-radius: 10px;
}
@media only screen and (max-width: 1000px) {
  .about_sec1{
    width: 70%;
  }
}
.about_sec1:hover{
  background-color: rgba(0,0,0,0.1);
}
.text li {
  font-size: 18px;
}
.about_sec1 ul{
  padding: 0px 10px 0px 30px;
}
.animate-left{
  position:relative;
  animation:animateleft 1s
}@keyframes animateleft{from{left:-100px;opacity:0} to{left:0;opacity:1}}

.print{
  position: absolute;
  width:70%;
  max-width: 500px;
  margin-left:20%;
  z-index: 0;
  opacity: 0; 
  -webkit-transition: opacity 2.15s ease-in-out;
  -moz-transition: opacity 2.15s ease-in-out;
  -ms-transition: opacity 2.15s ease-in-out;
  -o-transition: opacity 2.15s ease-in-out;
  transition: opacity 2.15s ease-in-out;
}
.about_sec1:hover .print{
  opacity: 1;
  -webkit-transition: opacity 2.15s ease-in-out;
  -moz-transition: opacity 2.15s ease-in-out;
  -ms-transition: opacity 2.15s ease-in-out;
  -o-transition: opacity 2.15s ease-in-out;
  transition: opacity 2.15s ease-in-out;
}
.about_sec1 h3{
  display: block;
  text-align: center;
}
.about_sec1 .sub_title{
  width:200px;
  display: block;
  margin: -68px auto 0;
}
.text{
  display: block;
  margin: 20px auto 0;
  z-index: 1;
}
.text p{
  font-size: 18px;
}
.about_hr{
  opacity: 0.8;
}
.about_sec1 .btn{
  margin: 30px auto 15px;
  display: table;
  background-color: #000000;
  border-color: #000000;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 14px;
}
.about_sec1 .btn:hover{
  color: #fff;
}
/*about end*/


/*instruction start*/
.instuction_title{
  width: 25%;
  margin: 0 auto -20px;
}
.title_back{
  width: 100%;
  height: 76px;
  background-color: rgba(7,56,102,0.2);
  border-radius: 35px;
}
.title_front{
  width: 96%;
  height: 68px;
  background-color: rgba(18,29,43,0.3);
  margin: 0 auto;
  border-radius: 35px;
  position: relative;
  top: 5%;
}
.title_front h3{
  text-align: center;
  font-size: 35px;
  color: #fff;
  line-height: 68px;
}
/*instruction end*/

/*qanda start*/
#QandA .Question{
  width: 100%;
  font-weight: bold;
}
#QandA .Answer{ 
  display: none;
  width: 100%;
  padding: 10px 0px;
}
#QandA:hover{ 
  
}
.qanda_sec{
  margin: 0 auto;
  font-size: 18px;
}
.qanda_arr{
  width: 15px;
}
.ask{
  font-size: 15px !important;
}
fieldset{
  width: 80%;
  margin: 0 auto;
}
textarea{
  background-color: rgba(255,255,255,0.3);
}
.no-sec{
  background-color: rgba(0,0,0,0);
  margin: -50px auto 10px;
}
.no-sec:hover{
  background-color: rgba(0,0,0,0);
}
#ask{
  margin-bottom: 100px;
}
/*qanda end*/