.f2, .f2{
  width:720px; 
  height:2050px;
  margin: 0 auto; 
  display:block;
}
.f2 .l, .f2 .l{
  width:700px;
  height:2050px;
  position: absolute;
  overflow: hidden;
}
.l:hover{
  cursor: pointer;
}
.l div{
  width:1000px;
  height:1000px;
  position: absolute;
  background-size: 100% 30px;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg); /* Internet Explorer */
  -moz-transform:rotate(45deg); /* Firefox */
  -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
  -o-transform:rotate(45deg); /* Opera */
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.l p{
  text-align: center;
  color: #fff;
}
/*=============================*/
.f2_a{
  -webkit-clip-path:polygon(45px 617px, 161px 617px,161px 846px,45px 846px);
}
.f2_a_black{
  background: linear-gradient(rgba(0,0,0,0.8) 50%, rgba(0,0,0,0) 50%);
  top: -910px;
  left: -730px;
}
.f2_a_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.8) 50%);
  top: 380px;
  left: 560px;
}
.f2_a:hover .f2_a_black,.f2_a:hover .f2_a_gray{
  top: -260px;
  left: -80px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_a_black p{
  margin-top: 550px;
  font-size: 40px;
}
.f2_a_gray p{
  margin-top: 610px;
  font-size: 15px;
}
/*=============================*/
.f2_b{
  -webkit-clip-path:polygon(45px 846px, 161px 846px,161px 1074px,45px 1074px);
}
.f2_b_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: -370px;
  left: -740px;
}
.f2_b_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 910px;
  left: 540px;
}
.f2_b:hover .f2_b_black,.f2_b:hover .f2_b_gray{
  top: 310px;
  left: -60px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_b_black p{
  margin-top: 580px;
  font-size: 40px;
}
.f2_b_gray p{
  margin-top: 642px;
  font-size: 15px;
}
/*=============================*/
.f2_c{
  -webkit-clip-path:polygon(560px 617px, 675px 617px,675px 942px,560px 942px);
}
.f2_c_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: 230px;
  left: -660px;
}
.f2_c_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 1340px;
  left: 450px;
}
.f2_c:hover .f2_c_black,.f2_c:hover .f2_c_gray{
  top: 790px;
  left: -100px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_c_black p{
  margin-top: 580px;
  font-size: 40px;
}
.f2_c_gray p{
  margin-top: 642px;
  font-size: 15px;
}
/*=============================*/
.f2_d{
  -webkit-clip-path:polygon(560px 942px, 675px 942px,675px 1022px,560px 1022px);
}
.f2_d_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: 540px;
  left: -400px;
}
.f2_d_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 1510px;
  left: 570px;
}
.f2_d:hover .f2_d_black,.f2_d:hover .f2_d_gray{
  top: 1010px;
  left: 70px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_d_black p{
  margin-top: 580px;
  font-size: 40px;
}
.f2_d_gray p{
  margin-top: 642px;
  font-size: 15px;
}
/*=============================*/
.f2_e{
  -webkit-clip-path:polygon(560px 1022px, 675px 1022px,675px 1074px,560px 1074px);
}
.f2_e_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: 650px;
  left: -640px;
}
.f2_e_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 1670px;
  left: 380px;
}
.f2_e:hover .f2_e_black,.f2_e:hover .f2_e_gray{
  top: 1170px;
  left: -120px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_e_black p{
  margin-top: 580px;
  font-size: 40px;
}
.f2_e_gray p{
  margin-top: 642px;
  font-size: 15px;
}
/*=============================*/
.f2_f{
  -webkit-clip-path:polygon(180px 635px, 180px 1067px,284px 1067px,284px 2003px,436px 2003px,436px 1067px,540px 1067px,540px 635px);
}
.f2_f_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: 721px;
  left: -757px;
}
.f2_f_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 1525px;
  left: 47px;
}
.f2_f:hover .f2_f_black,.f2_f:hover .f2_f_gray{
  top: 1125px;
  left: -353px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_f_black p{
  margin-top: 580px;
  font-size: 15px;
}
.f2_f_gray p{
  margin-top: 642px;
  font-size: 15px;
}
/*=============================*/
.f2_g{
  -webkit-clip-path:polygon(45px 1074px, 274px 1074px,274px 1960px,45px 1960px);
}
.f2_g_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: 730px;
  left: -290px;
}
.f2_g_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 1630px;
  left: 610px;
}
.f2_g:hover .f2_g_black,.f2_g:hover .f2_g_gray{
  top: 1180px;
  left: 160px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_g_black p{
  margin-top: 590px;
  font-size: 32px;
}
.f2_g_gray p{
  margin-top: 641px;
  font-size: 15px;
}
/*=============================*/
.f2_h{
  -webkit-clip-path:polygon(448px 1074px,675px 1074px,675px 1960px,448px 1960px);
  
}

.f2_a:hover, .f2_b:hover, .f2_c:hover, .f2_d:hover, .f2_e:hover, .f2_f:hover, .f2_g:hover, .f2_h:hover{
  background:rgba(0,0,0,0.5);
}