.f2{
  width:720px; 
  height:2050px;
  margin: 0 auto; 
  display:block;
}
.f2 .l{
  width:700px;
  height:2050px;
  position: absolute;
  overflow: hidden;
}
.l:hover{
  cursor: pointer;
}
.l div{
  width:1000px;
  height:1000px;
  position: absolute;
  background-size: 100% 30px;
  transform:rotate(45deg);
  -ms-transform:rotate(45deg); /* Internet Explorer */
  -moz-transform:rotate(45deg); /* Firefox */
  -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
  -o-transform:rotate(45deg); /* Opera */
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.l p{
  text-align: center;
  color: #fff;
}
/*=============================*/
.f2_a{
  -webkit-clip-path:polygon(45px 617px, 161px 617px,161px 846px,45px 846px);
}
.f2_a_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: -340px;
  left: -840px;
}
.f2_a_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 660px;
  left: 160px;
}
.f2_a:hover .f2_a_black,.f2_a:hover .f2_a_gray{
  top: 160px;
  left: -335px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_a_black p{
  margin-top: 560px;
  font-size: 32px;
}
.f2_a_gray p{
  margin-top: 611px;
  margin-left: 40px;
  font-size: 15px;
}
/*=============================*/
.f2_b{
  -webkit-clip-path:polygon(45px 846px, 161px 846px,161px 1074px,45px 1074px);
}
.f2_b_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: -120px;
  left: -820px;
}
.f2_b_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 880px;
  left: 180px;
}
.f2_b:hover .f2_b_black,.f2_b:hover .f2_b_gray{
  top: 380px;
  left: -320px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_b_black p{
  margin-top: 580px;
  font-size: 40px;
}
.f2_b_gray p{
  margin-top: 642px;
  font-size: 15px;
}
/*=============================*/
.f2_c{
  -webkit-clip-path:polygon(560px 617px, 675px 617px,675px 942px,560px 942px);
}
.f2_c_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: -310px;
  left: -300px;
}
.f2_c_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 690px;
  left: 700px;
}
.f2_c:hover .f2_c_black,.f2_c:hover .f2_c_gray{
  top: 190px;
  left: 200px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_c_black p{
  margin-top: 590px;
  font-size: 32px;
}
.f2_c_gray p{
  margin-top: 641px;
  margin-left: 20px;
  font-size: 15px;
}
/*=============================*/
.f2_d{
  -webkit-clip-path:polygon(560px 942px, 675px 942px,675px 1022px,560px 1022px);
}
.f2_d_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: -85px;
  left: -310px;
}
.f2_d_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 915px;
  left: 690px;
}
.f2_d:hover .f2_d_black,.f2_d:hover .f2_d_gray{
  top: 415px;
  left: 190px;
  -webkit-transition: .6s; /* Safari */
  transition: .6s;
}
.f2_d_black p{
  margin-top: 570px;
  font-size: 28px;
}
.f2_d_gray p{
  margin-top: 611px;
  margin-left: -15px;
  font-size: 15px;
}
/*=============================*/
.f2_e{
  -webkit-clip-path:polygon(560px 1022px, 675px 1022px,675px 1074px,560px 1074px);
}
.f2_e_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: -25px;
  left: -310px;
}
.f2_e_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 975px;
  left: 690px;
}
.f2_e:hover .f2_e_black,.f2_e:hover .f2_e_gray{
  top: 475px;
  left: 190px;
  -webkit-transition: .6s; /* Safari */
  transition: .6s;
}
.f2_e_black p{
  margin-top: 580px;
  font-size: 15px;
}
.f2_e_gray p{
  margin-top: 642px;
  font-size: 15px;
}
/*=============================*/
.f2_f{
  -webkit-clip-path:polygon(180px 635px, 180px 1067px,540px 1067px,540px 635px);
}
.f2_f_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: -320px;
  left: -625px;
}
.f2_f_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 820px;
  left: 515px;
}
.f2_f:hover .f2_f_black,.f2_f:hover .f2_f_gray{
  top: 250px;
  left: -55px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_f_black p{
  margin-top: 580px;
  font-size: 40px;
}
.f2_f_gray p{
  margin-top: 642px;
  font-size: 15px;
}
/*=============================*/
.f2_g{
  -webkit-clip-path:polygon(45px 1074px, 274px 1074px,274px 1960px,45px 1960px);
}
.f2_g_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: 300px;
  left: -1060px;
}
.f2_g_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 1700px;
  left: 340px;
}
.f2_g:hover .f2_g_black,.f2_g:hover .f2_g_gray{
  top: 1000px;
  left: -360px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_g_black p{
  margin-top: 440px;
  font-size: 32px;
}
.f2_g_gray p{
  margin-top: 492px;
  font-size: 15px;
}
/*=============================*/
.f2_h{
  -webkit-clip-path:polygon(448px 1074px,675px 1074px,675px 1964px,448px 1964px);
}
.f2_h_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: 300px;
  left: -660px;
}
.f2_h_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 1700px;
  left: 740px;
}
.f2_h:hover .f2_h_black,.f2_h:hover .f2_h_gray{
  top: 1000px;
  left: 40px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_h_black p{
  margin-top: 440px;
  font-size: 32px;
}
.f2_h_gray p{
  margin-top: 492px;
  font-size: 15px;
}

.f2_a:hover, .f2_b:hover, .f2_c:hover, .f2_d:hover, .f2_e:hover, .f2_f:hover, .f2_g:hover, .f2_h:hover{
  background:rgba(0,0,0,0.5);
}
/*=============================*/
.f2_i{
 -webkit-clip-path:polygon(284px 1067px,284px 2003px,436px 2003px,436px 1067px);
}
.f2_i_black{
  background: linear-gradient(rgba(0,0,0,0.9) 50%, rgba(0,0,0,0) 50%);
  top: 300px;
  left: -860px;
}
.f2_i_gray{
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(115, 94, 94,0.9) 50%);
  top: 1700px;
  left: 540px;
}
.f2_i:hover .f2_i_black,.f2_i:hover .f2_i_gray{
  top: 1000px;
  left: -160px;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
.f2_i_black p{
  margin-top: 440px;
  font-size: 32px;
}
.f2_i_gray p{
  margin-top: 492px;
  font-size: 15px;
}

.f2_a:hover, .f2_b:hover, .f2_c:hover, .f2_d:hover, .f2_e:hover, .f2_f:hover, .f2_g:hover, .f2_h:hover{
  background:rgba(0,0,0,0.5);
}
